
:root {
  --primary-color: rgb(38,131,92);
  --secondary-color: rgb(82,193,213);
}

/*#26835C, #51C1D5, #FFFBFD*/
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}