.footer-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;

  text-align: center;
  font-size: 14px;
  
  padding: 15px;
  bottom: 0px;
}

.footer-container a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.footer-container a:visited {
  text-decoration: none;
}