.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.home-page-container .info-container {
  box-sizing: border-box;
  display: flex;
  backdrop-filter: blur(16px);
  border: 2px solid rgba(255,255,255,0.21);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  flex-direction: column;
  width: 70vw;
  padding: 20px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  font-family: dynapuff;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: white;
  margin-bottom: 150px;
}

.home-page-container .info-container h1 {
  font-size: 40px;
  font-weight: 400;
}

.home-page-container .info-container .content-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: auto;
}

.home-page-container .info-container .content-container .description {
  font-weight: 300;
  font-family: roboto;
  font-size: 18px;
  margin: 0px 20px 0px 0px;
  text-align: left;
}

.home-page-container .info-container .content-container img {
  height: auto;
  border-radius: 5px;
  max-height: 70%;
  width: 50%;

}

@media (max-width: 720px) {

  .home-page-container .info-container{
    background: None;
    border: None;
    width: 100vw;
    backdrop-filter: blur(0px);
  }

  .home-page-container .info-container .content-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-page-container .info-container .content-container img {
    order: -1;
    margin-bottom: 20px; 
    width: 70%;
  }

}
