.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.info-container {
  display: flex;
  color: white;
  background: rgba(255,255,255, 0.13);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.21);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  flex-direction: column;
  padding: 20px;
  width: 60%;
  height: auto;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.info-container .title {
  font-size: 40px;
}

.info-container .content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: auto;
  padding: 20px;
}

.info-container .content-container .description {
  letter-spacing: 0.5px;
  font-weight: medium;
  font-size: 16px;
  margin: 0px 20px 0px 0px;
}

.info-container .content-container img {
  width: 40%;
  height: auto;
  border-radius: 5px;
  min-width: 40%;
}

@media (max-width: 1080px) {
  .info-container {
    width: 80%;
  }
  .info-container .content-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .info-container .content-container img {
    order: -1;
    margin-bottom: 20px; 
    width: 70%;
  }

}
