.container-info {
  display: flex;
  color: white;
  background: rgba(255,255,255, 0.13);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.21);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  flex-direction: column;
  padding: 20px;
  max-width: 60%;
  width: auto;
  height: auto;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-info .information .description {
  margin-right: 20px;
}

.container-info .information img {
  align-self: flex-start;
  height: auto;
  width: 40%;
}
