.container {
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 0px 0px;
}

.navbar {
  background: white;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  width: 80%;
  height: 50px;
  top: 0px;
  color: white;
  display: flex;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  z-index: 1;
  position: fixed;
  padding: 10px 20px 10px 20px ;
}

.navbar .title {
 font-size: 30px;
}

.navbar .logo {
  height: auto;
  width: 70px;
}

.navbar .logo-link {
  display: flex;
  flex-direction: row;
  align-items:center;
}

.navbar .login-link {
  color: #26835C;
  text-decoration: None;
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 18px;
}

.navbar .login-link:hover {
  color: white;
  background: #26835C;
  
}

.navbar a:visited {
  color: #26835C;
  text-decoration: None;
}

.navbar a:link {
  color: #26835C;
  text-decoration: None;
}

.navbar .links  a:hover {
  background: #26835C;
  color: white;
}

.navbar .links {
  display: flex;
  flex-basis: 60%;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.navbar .links a {
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* Responsive */

@media (max-width: 720px) {
  .navbar {
    width: 100vw;
    border-radius: 0px;
    padding: 10px 20px;
  }

  .dropdown .links {
    margin-right: 30px;
  }

}
.dropdown .dropbtn {
  border: None;
  font-size: 16px;
  font-weight: bold;
  outline: None;
  color: #26835C;
  background: inherit;
  font-family: inherit;
  padding: 25px;
  margin: 0px;
  cursor: pointer;
  
}


.dropdown .links {
  overflow: hidden;
  display: block;
  position: absolute;
  min-width: 160px;
  right: 0;
  margin-top: 5px;
  background: rgba(255,255,255, 1);
  border: 1px solid rgba(255,255,255,0.21);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.dropdown .links a {
  float: None;
  color: #26835C;
  display: block;
  padding: 12px 16px;
  text-decoration: None;
  text-align: right;
  font-size: 16px;
}

.dropdown .links a:hover {
  color: white;
  background: #26835C;
}


