.pole-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.pole-page-container .content {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 30px;

  background: rgba(0,0,0,0);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 2px solid rgba(255,255,255,0.3);

  padding: 40px;
  box-sizing: border-box;

  color: white;
  font-family: roboto;
  font-weight: 400;
}

.pole-page-container .content h1 {
  font-weight: 800;
  letter-spacing: 1.5px;
}
.pole-page-container .content label {
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

.pole-page-container img{
  margin-left: 20px;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 20px
}

@media (max-width: 720px) {
  .pole-page-container {
    flex-direction: column;
  }
  .pole-page-container .content {
    width: 100vw;
  }

  .pole-page-container img {
    margin-left: 0px;
    width: 90vw;
    align-self: center;
  }
}
