.poles-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;

  background: linear-gradient(var(--primary-color), var(--secondary-color));
  width: 100vw;
  height: 100vh;
}



.poles-page-container .inventory {
  overflow: scroll;
  width: 70vw;
  height: 70vh;
  margin-top: 80px;
  padding: 20px;

  background: rgba(255,255,255,0.0);
  border: 2px solid rgba(255,255,255,0.3);
  border-radius: 20px;
  backdrop-filter: blur(16px);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);

  text-align: left;
  font-family: roboto;
  font-weight: 400;
  color: white;
}

.poles-page-container .pole-table {
  min-width:100%;
}


.poles-page-container .pole-table th,
.poles-page-container .pole-table td {
  padding: 25px;
  margin-bottom: 10px;
}

.inventory .pole-table tbody tr:hover td{
  background: rgba(255,255,255,0.5);
  border-radius: 8px;

}

.inventory .pole-table tbody .true td{
  border-radius: 5px;
  background: rgba(253,0,0, 0.5);
}

.inventory .pole-table tbody .false td{
  border-radius: 8px;
  background: rgba(255,255,255, 0.05);
}

.color-convention {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  align-items: center;
  padding: 10px;
  flex-direction: row;
}

.color-convention div {
  display: flex;
  padding: 15px 0px;
}

.color-convention .rented {
  padding: 8px;
  border-radius: 5px;
  background-color: red;
  margin: 0px 5px;
}

.color-convention .not-rented {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid;
  margin: 0px 5px;
}


/*Responsive design */
@media (max-width: 720px){
  .poles-page-container .inventory{ 
    box-sizing: border-box;
    width: 100vw;
    border-radius:20px;
    backdrop-filter: None;
    border: None;
  }

}
