#poles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  padding-top: 50px;
}

.button {
  position: absolute;
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  font-weight: bold;
  background: white;
  padding: 10px;
  cursor: pointer;
  right: 20px;
  top: 40px;
}

.button:active {
  background: rgba(255,255,255, 0.6);
}


#poles .inventory {
  overflow: scroll;
  width: 70vw;
  height: 70vh;
  padding: 20px;

  background: rgba(255,255,255,0.0);
  border: 2px solid rgba(255,255,255,0.3);
  border-radius: 20px;
  backdrop-filter: blur(16px);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);

  text-align: left;
  font-family: roboto;
  font-weight: 400;
  color: white;
}

#poles .pole-table {
  min-width:100%;
}


#poles .pole-table th,
#poles .pole-table td {
  padding: 25px;
}

.inventory .pole-table tbody tr:active td{
  background: rgba(255,255,255,0.5);
  border-radius: 8px;

}

.inventory .pole-table tbody .true td{
  border-radius: 5px;
  background: rgba(253,0,0, 0.5);
}

.inventory .pole-table tbody .false td{
  border-radius: 8px;
  background: rgba(255,255,255, 0.05);
}

.color-convention .row-container {
  font-family: roboto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.color-convention {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.color-convention .rented {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
  margin-right: 10px;
}


.color-convention .not-rented {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid;
  margin-right: 10px;
}


/*Responsive design */
@media (max-width: 720px){
  #poles .inventory{ 
    box-sizing: border-box;
    width: 100vw;
    border-radius:20px;
    backdrop-filter: None;
    border: None;
  }

}
