.poles-page-container .inventory {
  overflow: scroll;
  width: 70vw;
  height: 80vh;
  margin-top: 20px;
  padding: 20px;

  background: rgba(255,255,255,0.0);
  border: 2px solid rgba(255,255,255,0.3);
  border-radius: 20px;
  backdrop-filter: blur(16px);

  text-align: left;
  font-family: roboto;
  font-weight: 400;
  color: white;
}

.poles-page-container .pole-table {
  min-width:100%;
}


.poles-page-container .pole-table th,
.poles-page-container .pole-table td {
  padding: 25px;
  margin-bottom: 10px;
}

.inventory .pole-table tbody tr:hover td{
  background: rgba(255,255,255,0.5);
  border-radius: 8px;

}

.inventory .pole-table tbody .true td{
  border-radius: 5px;
  background: rgba(253,0,0, 0.5);
}

.inventory .pole-table tbody .false td{
  border-radius: 8px;
  background: rgba(255,255,255, 0.05);
}


/*Responsive design */
@media (max-width: 720px){
  .poles-page-container .inventory{ 
    box-sizing: border-box;
    width: 100vw;
    border-radius:20px;
  }

}
